[submodule "jquery"]
	path = jquery
	url = https://github.com/jquery/jquery.git
[submodule "jquery-ui"]
	path = jquery-ui
	url = https://github.com/jquery/jquery-ui.git
[submodule "jqTree"]
	path = jqTree
	url = https://github.com/mbraak/jqTree.git
[submodule "tinymce"]
	path = tinymce
	url = git@github.com:glebihan/simple-docbook-editor-tinymce.git
[submodule "CodeMirror"]
	path = CodeMirror
	url = https://github.com/marijnh/CodeMirror.git
[submodule "ckeditor"]
	path = ckeditor
	url = https://github.com/ckeditor/ckeditor-dev.git
